body{
    display: flex;
    height: 100%;
}

.nav-section{
    padding: 25px;
    background-color: rgb(4, 38, 4);
    position: fixed;
    max-height: 100%;
}

.nav-section > h1{
    color: white;
    font-size: 40px;
}

.nav-section > p > a{
    color: white;
    text-decoration: none;
}

section{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

section > .grid-container > .post {
    display: flex;
    flex-direction: column;
}

.grid-container{
    display: flex;
    flex-wrap: wrap;
}

.post{
    background-color: aquamarine;
    border-radius: 20px;
    padding: 12px;
    align-items: center;
    margin: 12px;
}

.post > img{
    height: 200px;
    width: 300px;
}

.post > p{
    margin: 0;
}